@import '../../variables/colors.css';

@import './border-sizes.css';

@for $width from 0 to 7 {
  .bwt-$(width),
  .bwy-$(width),
  .bwa-$(width) {
    border-top-style: solid;
    border-top-width: var(--border-size-$(width));
  }
  .bwr-$(width),
  .bwx-$(width),
  .bwa-$(width) {
    border-right-style: solid;
    border-right-width: var(--border-size-$(width));
  }
  .bwb-$(width),
  .bwy-$(width),
  .bwa-$(width) {
    border-bottom-style: solid;
    border-bottom-width: var(--border-size-$(width));
  }
  .bwl-$(width),
  .bwx-$(width),
  .bwa-$(width) {
    border-left-style: solid;
    border-left-width: var(--border-size-$(width));
  }
}

/**
 * Border Styles
 */
@each $style in (none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset) {
  .bs-$(style) {
    border-style: $(style);
  }
}

/**
 * Border Colors
 */
@each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
  .bc-$(color),
  .ct-$(color) {
    border-color: var(--color-$(color));
  }
}

@each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
  .bcr-$(color),
  .ctr-$(color) {
    border-color: var(--color-$(color)-contrast);
  }
}

/**
 * Border Colors On Psuedo Classes
 */
@each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
  @each $psuedo in (required, invalid, focus, disabled, hover) {
    .bc-$(color)-$(psuedo):$(psuedo),
    .ct-$(color)-$(psuedo):$(psuedo) {
      border-color: var(--color-$(color));
    }
  }
}

@each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
  @each $psuedo in (required, invalid, focus, disabled, hover) {
    .bcr-$(color)-$(psuedo):$(psuedo),
    .ctr-$(color)-$(psuedo):$(psuedo) {
      border-color: var(--color-$(color)-contrast);
    }
  }
}

/**
 * Border Radius 50% and sized
 */
.bra-c {
  border-radius: var(--border-radius-circle);
}
.brtl-c,
.brt-c,
.brl-c {
  border-top-left-radius: var(--border-radius-circle);
}
.brtr-c,
.brt-c,
.brr-c {
  border-top-right-radius: var(--border-radius-circle);
}
.brbl-c,
.brb-c,
.brl-c {
  border-bottom-left-radius: var(--border-radius-circle);
}
.brbr-c,
.brb-c,
.brr-c {
  border-bottom-right-radius: var(--border-radius-circle);
}

@for $radius from 0 to 3 {
  .bra-$(radius) {
    border-radius: var(--border-radius-$(radius));
  }
  .brtl-$(radius),
  .brt-$(radius),
  .brl-$(radius) {
    border-top-left-radius: var(--border-radius-$(radius));
  }
  .brtr-$(radius),
  .brt-$(radius),
  .brr-$(radius) {
    border-top-right-radius: var(--border-radius-$(radius));
  }
  .brbl-$(radius),
  .brb-$(radius),
  .brl-$(radius) {
    border-bottom-left-radius: var(--border-radius-$(radius));
  }
  .brbr-$(radius),
  .brb-$(radius),
  .brr-$(radius) {
    border-bottom-right-radius: var(--border-radius-$(radius));
  }
}
