/* Minified Names */
/* Custom Properties */
/** Breakpoint SCSS Variables */
/** Breakpoint CSS Variables */
:root {
  --bp-sm: 50em;
  --bp-md: 75em;
  --bp-lg: 90em;
}

/** Color SCSS Variables */
/** Color CSS Variables */
:root {
  --c-f-base: #111111;
  --c-b-base: #ffffff;
  --c-f-link: #357edd;
  --c-b-link: #ffffff;
  --c-f-primary: #ffffff;
  --c-b-primary: #357edd;
  --c-f-secondary: #555555;
  --c-b-secondary: #96ccff;
  --c-f-light: #111111;
  --c-b-light: #f4f4f4;
  --c-f-dark: #f4f4f4;
  --c-b-dark: #111111;
  --c-f-focus: #555555;
  --c-b-focus: #ffb700;
  --c-f-required: #f4f4f4;
  --c-b-required: #357edd;
  --c-f-invalid: #ff4136;
  --c-b-invalid: #ffd700;
  --c-f-disabled: #777777;
  --c-b-disabled: #eeeeee;
  --c-f-error: #ff4136;
  --c-b-error: #ffdfdf;
}

/** SCSS Size Variables */
/** CSS Size Variables */
:root {
  --szb: 16px;
  --szfn: calc(var(szb) / 1);
  --szfl: calc(var(szb) / 16);
  --szrd: calc(var(szb) / 4);
}

/* TODO get some math for these values */
:root {
  --transition-tc: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

/** SCSS Size Variables */
/** Border Width SCSS Variables */
/** Border Radius SCSS Variables */
/** Border Style SCSS Variables */
/** Border Style Psuedo SCSS Variables */
/** Border Width CSS Variables */
:root {
  --bsw-0: calc(var(--szfl) * 0);
  --bsw-1: calc(var(--szfl) * 1);
  --bsw-2: calc(var(--szfl) * 2);
  --bsw-3: calc(var(--szfl) * 4);
  --bsw-4: calc(var(--szfl) * 8);
  --bsw-5: calc(var(--szfl) * 16);
  --bsw-6: calc(var(--szfl) * 32);
  --bsw-7: calc(var(--szfl) * 64);
}

:root {
  --border-radius-circle: 50%;
  --bsr-0: calc(var(--szrd) * 0);
  --bsr-1: calc(var(--szrd) * 1);
  --bsr-2: calc(var(--szrd) * 2);
  --bsr-3: calc(var(--szrd) * 4);
}

/* Borders */
/** Color SCSS Variables */
/** Border Width SCSS Variables */
/** Border Radius SCSS Variables */
/** Border Style SCSS Variables */
/** Border Style Psuedo SCSS Variables */
.bwt-0,
.bwy-0,
.bwa-0 {
  border-top-style: solid;
  border-top-width: var(--bsw-0);
}

.bwr-0,
.bwx-0,
.bwa-0 {
  border-right-style: solid;
  border-right-width: var(--bsw-0);
}

.bwb-0,
.bwy-0,
.bwa-0 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-0);
}

.bwl-0,
.bwx-0,
.bwa-0 {
  border-left-style: solid;
  border-left-width: var(--bsw-0);
}

.bwt-1,
.bwy-1,
.bwa-1 {
  border-top-style: solid;
  border-top-width: var(--bsw-1);
}

.bwr-1,
.bwx-1,
.bwa-1 {
  border-right-style: solid;
  border-right-width: var(--bsw-1);
}

.bwb-1,
.bwy-1,
.bwa-1 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-1);
}

.bwl-1,
.bwx-1,
.bwa-1 {
  border-left-style: solid;
  border-left-width: var(--bsw-1);
}

.bwt-2,
.bwy-2,
.bwa-2 {
  border-top-style: solid;
  border-top-width: var(--bsw-2);
}

.bwr-2,
.bwx-2,
.bwa-2 {
  border-right-style: solid;
  border-right-width: var(--bsw-2);
}

.bwb-2,
.bwy-2,
.bwa-2 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-2);
}

.bwl-2,
.bwx-2,
.bwa-2 {
  border-left-style: solid;
  border-left-width: var(--bsw-2);
}

.bwt-3,
.bwy-3,
.bwa-3 {
  border-top-style: solid;
  border-top-width: var(--bsw-3);
}

.bwr-3,
.bwx-3,
.bwa-3 {
  border-right-style: solid;
  border-right-width: var(--bsw-3);
}

.bwb-3,
.bwy-3,
.bwa-3 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-3);
}

.bwl-3,
.bwx-3,
.bwa-3 {
  border-left-style: solid;
  border-left-width: var(--bsw-3);
}

.bwt-4,
.bwy-4,
.bwa-4 {
  border-top-style: solid;
  border-top-width: var(--bsw-4);
}

.bwr-4,
.bwx-4,
.bwa-4 {
  border-right-style: solid;
  border-right-width: var(--bsw-4);
}

.bwb-4,
.bwy-4,
.bwa-4 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-4);
}

.bwl-4,
.bwx-4,
.bwa-4 {
  border-left-style: solid;
  border-left-width: var(--bsw-4);
}

.bwt-5,
.bwy-5,
.bwa-5 {
  border-top-style: solid;
  border-top-width: var(--bsw-5);
}

.bwr-5,
.bwx-5,
.bwa-5 {
  border-right-style: solid;
  border-right-width: var(--bsw-5);
}

.bwb-5,
.bwy-5,
.bwa-5 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-5);
}

.bwl-5,
.bwx-5,
.bwa-5 {
  border-left-style: solid;
  border-left-width: var(--bsw-5);
}

.bwt-6,
.bwy-6,
.bwa-6 {
  border-top-style: solid;
  border-top-width: var(--bsw-6);
}

.bwr-6,
.bwx-6,
.bwa-6 {
  border-right-style: solid;
  border-right-width: var(--bsw-6);
}

.bwb-6,
.bwy-6,
.bwa-6 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-6);
}

.bwl-6,
.bwx-6,
.bwa-6 {
  border-left-style: solid;
  border-left-width: var(--bsw-6);
}

.bwt-7,
.bwy-7,
.bwa-7 {
  border-top-style: solid;
  border-top-width: var(--bsw-7);
}

.bwr-7,
.bwx-7,
.bwa-7 {
  border-right-style: solid;
  border-right-width: var(--bsw-7);
}

.bwb-7,
.bwy-7,
.bwa-7 {
  border-bottom-style: solid;
  border-bottom-width: var(--bsw-7);
}

.bwl-7,
.bwx-7,
.bwa-7 {
  border-left-style: solid;
  border-left-width: var(--bsw-7);
}

/** Border Styles */
.bs-none {
  border-style: none;
}

.bs-dotted {
  border-style: dotted;
}

.bs-dashed {
  border-style: dashed;
}

.bs-solid {
  border-style: solid;
}

/** Border Colors */
.bc-base,
.ct-base {
  border-color: var(--c-b-base);
}

.bcr-base,
.ctr-base {
  border-color: var(--c-f-base);
}

.bc-link,
.ct-link {
  border-color: var(--c-b-link);
}

.bcr-link,
.ctr-link {
  border-color: var(--c-f-link);
}

.bc-primary,
.ct-primary {
  border-color: var(--c-b-primary);
}

.bcr-primary,
.ctr-primary {
  border-color: var(--c-f-primary);
}

.bc-secondary,
.ct-secondary {
  border-color: var(--c-b-secondary);
}

.bcr-secondary,
.ctr-secondary {
  border-color: var(--c-f-secondary);
}

.bc-light,
.ct-light {
  border-color: var(--c-b-light);
}

.bcr-light,
.ctr-light {
  border-color: var(--c-f-light);
}

.bc-dark,
.ct-dark {
  border-color: var(--c-b-dark);
}

.bcr-dark,
.ctr-dark {
  border-color: var(--c-f-dark);
}

.bc-focus,
.ct-focus {
  border-color: var(--c-b-focus);
}

.bcr-focus,
.ctr-focus {
  border-color: var(--c-f-focus);
}

.bc-required,
.ct-required {
  border-color: var(--c-b-required);
}

.bcr-required,
.ctr-required {
  border-color: var(--c-f-required);
}

.bc-invalid,
.ct-invalid {
  border-color: var(--c-b-invalid);
}

.bcr-invalid,
.ctr-invalid {
  border-color: var(--c-f-invalid);
}

.bc-disabled,
.ct-disabled {
  border-color: var(--c-b-disabled);
}

.bcr-disabled,
.ctr-disabled {
  border-color: var(--c-f-disabled);
}

.bc-error,
.ct-error {
  border-color: var(--c-b-error);
}

.bcr-error,
.ctr-error {
  border-color: var(--c-f-error);
}

/** Border Colors on Psuedo Modifiers */
.bc-base-hover:hover,
.ct-base-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-base-hover:hover,
.ctr-base-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-base-required:required,
.ct-base-required:required {
  border-color: var(--c-f-theme);
}

.bcr-base-required:required,
.ctr-base-required:required {
  border-color: var(--c-b-theme);
}

.bc-base-invalid:invalid,
.ct-base-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-base-invalid:invalid,
.ctr-base-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-base-focus:focus,
.ct-base-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-base-focus:focus,
.ctr-base-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-base-disabled:disabled,
.ct-base-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-base-disabled:disabled,
.ctr-base-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-link-hover:hover,
.ct-link-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-link-hover:hover,
.ctr-link-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-link-required:required,
.ct-link-required:required {
  border-color: var(--c-f-theme);
}

.bcr-link-required:required,
.ctr-link-required:required {
  border-color: var(--c-b-theme);
}

.bc-link-invalid:invalid,
.ct-link-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-link-invalid:invalid,
.ctr-link-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-link-focus:focus,
.ct-link-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-link-focus:focus,
.ctr-link-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-link-disabled:disabled,
.ct-link-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-link-disabled:disabled,
.ctr-link-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-primary-hover:hover,
.ct-primary-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-primary-hover:hover,
.ctr-primary-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-primary-required:required,
.ct-primary-required:required {
  border-color: var(--c-f-theme);
}

.bcr-primary-required:required,
.ctr-primary-required:required {
  border-color: var(--c-b-theme);
}

.bc-primary-invalid:invalid,
.ct-primary-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-primary-invalid:invalid,
.ctr-primary-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-primary-focus:focus,
.ct-primary-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-primary-focus:focus,
.ctr-primary-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-primary-disabled:disabled,
.ct-primary-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-primary-disabled:disabled,
.ctr-primary-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-secondary-hover:hover,
.ct-secondary-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-secondary-hover:hover,
.ctr-secondary-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-secondary-required:required,
.ct-secondary-required:required {
  border-color: var(--c-f-theme);
}

.bcr-secondary-required:required,
.ctr-secondary-required:required {
  border-color: var(--c-b-theme);
}

.bc-secondary-invalid:invalid,
.ct-secondary-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-secondary-invalid:invalid,
.ctr-secondary-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-secondary-focus:focus,
.ct-secondary-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-secondary-focus:focus,
.ctr-secondary-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-secondary-disabled:disabled,
.ct-secondary-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-secondary-disabled:disabled,
.ctr-secondary-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-light-hover:hover,
.ct-light-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-light-hover:hover,
.ctr-light-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-light-required:required,
.ct-light-required:required {
  border-color: var(--c-f-theme);
}

.bcr-light-required:required,
.ctr-light-required:required {
  border-color: var(--c-b-theme);
}

.bc-light-invalid:invalid,
.ct-light-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-light-invalid:invalid,
.ctr-light-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-light-focus:focus,
.ct-light-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-light-focus:focus,
.ctr-light-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-light-disabled:disabled,
.ct-light-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-light-disabled:disabled,
.ctr-light-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-dark-hover:hover,
.ct-dark-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-dark-hover:hover,
.ctr-dark-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-dark-required:required,
.ct-dark-required:required {
  border-color: var(--c-f-theme);
}

.bcr-dark-required:required,
.ctr-dark-required:required {
  border-color: var(--c-b-theme);
}

.bc-dark-invalid:invalid,
.ct-dark-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-dark-invalid:invalid,
.ctr-dark-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-dark-focus:focus,
.ct-dark-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-dark-focus:focus,
.ctr-dark-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-dark-disabled:disabled,
.ct-dark-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-dark-disabled:disabled,
.ctr-dark-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-focus-hover:hover,
.ct-focus-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-focus-hover:hover,
.ctr-focus-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-focus-required:required,
.ct-focus-required:required {
  border-color: var(--c-f-theme);
}

.bcr-focus-required:required,
.ctr-focus-required:required {
  border-color: var(--c-b-theme);
}

.bc-focus-invalid:invalid,
.ct-focus-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-focus-invalid:invalid,
.ctr-focus-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-focus-focus:focus,
.ct-focus-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-focus-focus:focus,
.ctr-focus-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-focus-disabled:disabled,
.ct-focus-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-focus-disabled:disabled,
.ctr-focus-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-required-hover:hover,
.ct-required-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-required-hover:hover,
.ctr-required-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-required-required:required,
.ct-required-required:required {
  border-color: var(--c-f-theme);
}

.bcr-required-required:required,
.ctr-required-required:required {
  border-color: var(--c-b-theme);
}

.bc-required-invalid:invalid,
.ct-required-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-required-invalid:invalid,
.ctr-required-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-required-focus:focus,
.ct-required-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-required-focus:focus,
.ctr-required-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-required-disabled:disabled,
.ct-required-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-required-disabled:disabled,
.ctr-required-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-invalid-hover:hover,
.ct-invalid-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-invalid-hover:hover,
.ctr-invalid-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-invalid-required:required,
.ct-invalid-required:required {
  border-color: var(--c-f-theme);
}

.bcr-invalid-required:required,
.ctr-invalid-required:required {
  border-color: var(--c-b-theme);
}

.bc-invalid-invalid:invalid,
.ct-invalid-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-invalid-invalid:invalid,
.ctr-invalid-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-invalid-focus:focus,
.ct-invalid-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-invalid-focus:focus,
.ctr-invalid-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-invalid-disabled:disabled,
.ct-invalid-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-invalid-disabled:disabled,
.ctr-invalid-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-disabled-hover:hover,
.ct-disabled-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-disabled-hover:hover,
.ctr-disabled-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-disabled-required:required,
.ct-disabled-required:required {
  border-color: var(--c-f-theme);
}

.bcr-disabled-required:required,
.ctr-disabled-required:required {
  border-color: var(--c-b-theme);
}

.bc-disabled-invalid:invalid,
.ct-disabled-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-disabled-invalid:invalid,
.ctr-disabled-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-disabled-focus:focus,
.ct-disabled-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-disabled-focus:focus,
.ctr-disabled-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-disabled-disabled:disabled,
.ct-disabled-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-disabled-disabled:disabled,
.ctr-disabled-disabled:disabled {
  border-color: var(--c-b-theme);
}

.bc-error-hover:hover,
.ct-error-hover:hover {
  border-color: var(--c-f-theme);
}

.bcr-error-hover:hover,
.ctr-error-hover:hover {
  border-color: var(--c-b-theme);
}

.bc-error-required:required,
.ct-error-required:required {
  border-color: var(--c-f-theme);
}

.bcr-error-required:required,
.ctr-error-required:required {
  border-color: var(--c-b-theme);
}

.bc-error-invalid:invalid,
.ct-error-invalid:invalid {
  border-color: var(--c-f-theme);
}

.bcr-error-invalid:invalid,
.ctr-error-invalid:invalid {
  border-color: var(--c-b-theme);
}

.bc-error-focus:focus,
.ct-error-focus:focus {
  border-color: var(--c-f-theme);
}

.bcr-error-focus:focus,
.ctr-error-focus:focus {
  border-color: var(--c-b-theme);
}

.bc-error-disabled:disabled,
.ct-error-disabled:disabled {
  border-color: var(--c-f-theme);
}

.bcr-error-disabled:disabled,
.ctr-error-disabled:disabled {
  border-color: var(--c-b-theme);
}

/** Border Radius For Circle */
.bra-c {
  border-radius: var(--bsr-circle);
}

.brtl-c,
.brt-c,
.brl-c {
  border-top-left-radius: var(--bsr-circle);
}

.brtr-c,
.brt-c,
.brr-c {
  border-top-right-radius: var(--bsr-circle);
}

.brbl-c,
.brb-c,
.brl-c {
  border-bottom-left-radius: var(--bsr-circle);
}

.brbr-c,
.brb-c,
.brr-c {
  border-bottom-right-radius: var(--bsr-circle);
}

.bra-0 {
  border-radius: var(--bsr-0);
}

.brtl-0,
.brt-0,
.brl-0 {
  border-top-left-radius: var(--bsr-0);
}

.brtr-0,
.brt-0,
.brr-0 {
  border-top-right-radius: var(--bsr-0);
}

.brbl-0,
.brb-0,
.brl-0 {
  border-bottom-left-radius: var(--bsr-0);
}

.brbr-0,
.brb-0,
.brr-0 {
  border-bottom-right-radius: var(--bsr-0);
}

.bra-1 {
  border-radius: var(--bsr-1);
}

.brtl-1,
.brt-1,
.brl-1 {
  border-top-left-radius: var(--bsr-1);
}

.brtr-1,
.brt-1,
.brr-1 {
  border-top-right-radius: var(--bsr-1);
}

.brbl-1,
.brb-1,
.brl-1 {
  border-bottom-left-radius: var(--bsr-1);
}

.brbr-1,
.brb-1,
.brr-1 {
  border-bottom-right-radius: var(--bsr-1);
}

.bra-2 {
  border-radius: var(--bsr-2);
}

.brtl-2,
.brt-2,
.brl-2 {
  border-top-left-radius: var(--bsr-2);
}

.brtr-2,
.brt-2,
.brr-2 {
  border-top-right-radius: var(--bsr-2);
}

.brbl-2,
.brb-2,
.brl-2 {
  border-bottom-left-radius: var(--bsr-2);
}

.brbr-2,
.brb-2,
.brr-2 {
  border-bottom-right-radius: var(--bsr-2);
}

.bra-3 {
  border-radius: var(--bsr-3);
}

.brtl-3,
.brt-3,
.brl-3 {
  border-top-left-radius: var(--bsr-3);
}

.brtr-3,
.brt-3,
.brr-3 {
  border-top-right-radius: var(--bsr-3);
}

.brbl-3,
.brb-3,
.brl-3 {
  border-bottom-left-radius: var(--bsr-3);
}

.brbr-3,
.brb-3,
.brr-3 {
  border-bottom-right-radius: var(--bsr-3);
}
