/**
 * Colors
 *
 * By default contrast colors are foreground and contrast is background.
 */

:root {
  /* The base of the page, generally black on white */
  --color-base: #111111;
  --color-base-contrast: #ffffff;

  /* Link should probably work on base and light */
  --color-link: #357edd;
  --color-link-contrast: #ffffff;

  /* Form input and button colors */
  --color-primary: #ffffff;
  --color-primary-contrast: #357edd;
  --color-secondary: #555555;
  --color-secondary-contrast: #96ccff;
  --color-light: #111111;
  --color-light-contrast: #f4f4f4;
  --color-dark: #f4f4f4;
  --color-dark-contrast: #111111;

  /* Form input and button state colors */
  --color-focus: #555555;
  --color-focus-contrast: #ffb700;
  --color-required: #f4f4f4;
  --color-required-contrast: #357edd;
  --color-invalid: #ff4136;
  --color-invalid-contrast: #ffd700;
  --color-disabled: #777777;
  --color-disabled-contrast: #eeeeee;

  /* Other Themes */
  --color-error: #ff4136;
  --color-error-contrast: #ffdfdf;
}
