/**
 * Color SCSS Variables
 */
$colors-prefix: 'color' !default;
$colors-foreground-prefix: 'fore' !default;
$colors-background-prefix: 'back' !default;

$colors: (
  'base': (
    #{$colors-foreground-prefix}: #111111,
    #{$colors-background-prefix}: #ffffff,
  ),
  'link': (
    #{$colors-foreground-prefix}: #357edd,
    #{$colors-background-prefix}: #ffffff,
  ),
  'primary': (
    #{$colors-foreground-prefix}: #ffffff,
    #{$colors-background-prefix}: #357edd,
  ),
  'secondary': (
    #{$colors-foreground-prefix}: #555555,
    #{$colors-background-prefix}: #96ccff,
  ),
  'light': (
    #{$colors-foreground-prefix}: #111111,
    #{$colors-background-prefix}: #f4f4f4,
  ),
  'dark': (
    #{$colors-foreground-prefix}: #f4f4f4,
    #{$colors-background-prefix}: #111111,
  ),
  'focus': (
    #{$colors-foreground-prefix}: #555555,
    #{$colors-background-prefix}: #ffb700,
  ),
  'required': (
    #{$colors-foreground-prefix}: #f4f4f4,
    #{$colors-background-prefix}: #357edd,
  ),
  'invalid': (
    #{$colors-foreground-prefix}: #ff4136,
    #{$colors-background-prefix}: #ffd700,
  ),
  'disabled': (
    #{$colors-foreground-prefix}: #777777,
    #{$colors-background-prefix}: #eeeeee,
  ),
  'error': (
    #{$colors-foreground-prefix}: #ff4136,
    #{$colors-background-prefix}: #ffdfdf,
  ),
) !default;
