@import '../../variables/colors.css';

/**
 * Colors
 */
@each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
  .cf-$(color),
  .ct-$(color) {
    color: var(--color-$(color));
  }
  .cb-$(color),
  .ct-$(color) {
    background-color: var(--color-$(color)-contrast);
  }
  .cfr-$(color),
  .ctr-$(color) {
    color: var(--color-$(color)-contrast);
  }
  .cbr-$(color),
  .ctr-$(color) {
    background-color: var(--color-$(color));
  }
}

/**
 * Color themes with psuedo selectors
 */
@each $psuedo in (required, invalid, focus, disabled, hover) {
  @each $color in (base, link, primary, secondary, light, dark, focus, required, invalid, disabled, error) {
    .cf-$(color)-$(psuedo):$(psuedo),
    .ct-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color));
    }
    .cb-$(color)-$(psuedo):$(psuedo),
    .ct-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color)-contrast);
    }
    .cfr-$(color)-$(psuedo):$(psuedo),
    .ctr-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color)-contrast);
    }
    .cbr-$(color)-$(psuedo):$(psuedo),
    .ctr-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color));
    }
  }
}
