@import '../variables/breakpoints.scss';

@import './border-custom-properties.scss';
@import './border-variables.scss';

@each $label, $value in $breakpoints {
  @media (min-width: #{$value}) {
    @each $index, $width in $border-width-multipliers {
      /*! Border Width Top with Y and All - Size #{$index} */
      .#{$border-width-class-prefix}t-#{$label}-#{$index},
      .#{$border-width-class-prefix}y-#{$label}-#{$index},
      .#{$border-width-class-prefix}a-#{$label}-#{$index} {
        border-top-style: solid;
        border-top-width: var(--#{$border-width-var-prefix}-#{$index});
      }
      /*! Border Width Right with X and All - Size #{$index} */
      .#{$border-width-class-prefix}r-#{$label}-#{$index},
      .#{$border-width-class-prefix}x-#{$label}-#{$index},
      .#{$border-width-class-prefix}a-#{$label}-#{$index} {
        border-right-style: solid;
        border-right-width: var(--#{$border-width-var-prefix}-#{$index});
      }
      /*! Border Width Bottom with Y and All - Size #{$index} */
      .#{$border-width-class-prefix}b-#{$label}-#{$index},
      .#{$border-width-class-prefix}y-#{$label}-#{$index},
      .#{$border-width-class-prefix}a-#{$label}-#{$index} {
        border-bottom-style: solid;
        border-bottom-width: var(--#{$border-width-var-prefix}-#{$index});
      }
      /*! Border Width Left with X and All - Size #{$index} */
      .#{$border-width-class-prefix}l-#{$label}-#{$index},
      .#{$border-width-class-prefix}x-#{$label}-#{$index},
      .#{$border-width-class-prefix}a-#{$label}-#{$index} {
        border-left-style: solid;
        border-left-width: var(--#{$border-width-var-prefix}-#{$index});
      }
    }
  }
}
