@import '../../variables/breakpoints';

@import './font-sizes';

/**
 * Font size on breakpoint
 */
@each $break in (sm, md, lg) {
  .fs-$(break)-0 {
    font-size: var(--font-size-0);
  }

  @for $step from 1 to 5 {
    @media (--$(break)) {
      .fsu-$(break)-$(step) {
        font-size: var(--font-size-up-$(step));
      }
      .fsd-$(break)-$(step) {
        font-size: var(--font-size-down-$(step));
      }
    }
  }
}

/**
* Font weight on breakpoint
*/
@each $break in (sm, md, lg) {
  .fw-$(break)-0 {
    font-weight: var(--font-weight-0);
  }

  @for $step from 1 to 3 {
    @media (--$(break)) {
      .fwu-$(break)-$(step) {
        font-weight: var(--font-weight-up-$(step));
      }
      .fwd-$(break)-$(step) {
        font-weight: var(--font-weight-down-$(step));
      }
    }
  }
}
