/**
 * Font Resets rely on the default build naming
 * If you customize the naming it is recommended
 * that you don't use the reset.
 */

/**
 * Header tag styling
 */
h1 {
  font-size: var(--font-size-u5);
  font-weight: var(--font-weight-u2);
}

h2 {
  font-size: var(--font-size-u4);
  font-weight: var(--font-weight-u2);
}

h3 {
  font-size: var(--font-size-u3);
  font-weight: var(--font-weight-u2);
}

h4 {
  font-size: var(--font-size-u2);
  font-weight: var(--font-weight-u2);
}

h5 {
  font-size: var(--font-size-u1);
  font-weight: var(--font-weight-u2);
}

h6 {
  font-size: var(--font-size-u2);
}

/**
 * Paragraph and small tag styling
 */
span {
  font-size: inherit;
  font-weight: inherit;
}

p,
li {
  font-size: var(--font-size-0);
}

small {
  font-size: var(--font-size-d2);
}

/**
 * Input and button styling
 */
input,
button,
select {
  font-size: inherit;
  font-weight: inherit;
}

input {
  border: 0;
}

/**
 * Anchor tag styling
 */
a {
  text-decoration: none;
  color: var(--color-fore-link0);
}

/* Bold and Italics */
em {
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-u2);
}
