/* Font Scale Based on https://blog.envylabs.com/responsive-typographic-scales-in-css-b9f60431d1c4 */
:root {
  --font-size-up-5: 2em;
  --font-size-up-4: 1.7511em;
  --font-size-up-3: 1.5157em;
  --font-size-up-2: 1.3195em;
  --font-size-up-1: 1.1487em;
  --font-size-base: 1em;
  --font-size-down-1: 0.8706em;
  --font-size-down-2: 0.7579em;
  --font-size-down-3: 0.6599em;
  --font-size-down-4: 0.5745em;
  --font-size-down-5: 0.5em;
}
