@import '../../variables/sizes.css';

:root {
  --border-size-0: calc(var(--fill-size) * 0);
  --border-size-1: calc(var(--fill-size) * 1);
  --border-size-2: calc(var(--fill-size) * 2);
  --border-size-3: calc(var(--fill-size) * 4);
  --border-size-4: calc(var(--fill-size) * 8);
  --border-size-5: calc(var(--fill-size) * 16);
  --border-size-6: calc(var(--fill-size) * 32);
  --border-size-7: calc(var(--fill-size) * 64);
}

:root {
  --border-radius-circle: 50%;
  --border-radius-0: calc(var(--radius-size) * 0);
  --border-radius-1: calc(var(--radius-size) * 1);
  --border-radius-2: calc(var(--radius-size) * 2);
  --border-radius-3: calc(var(--radius-size) * 4);
}
