@import '../../variables/breakpoints.css';

@import './border-sizes.css';

@each $break in (sm, md, lg) {
  @each $size in (0, 1, 2, 3, 4, 5, 6, 7) {
    @media (--$(break)) {
      .bwt-$(break)-$(size),
      .bwy-$(break)-$(size),
      .bwa-$(break)-$(size) {
        border-top-style: solid;
        border-top-width: var(--border-size-$(size));
      }
      .bwr-$(break)-$(size),
      .bwx-$(break)-$(size),
      .bwa-$(break)-$(size) {
        border-right-style: solid;
        border-right-width: var(--border-size-$(size));
      }
      .bwb-$(break)-$(size),
      .bwy-$(break)-$(size),
      .bwa-$(break)-$(size) {
        border-bottom-style: solid;
        border-bottom-width: var(--border-size-$(size));
      }
      .bwl-$(break)-$(size),
      .bwx-$(break)-$(size),
      .bwa-$(break)-$(size) {
        border-left-style: solid;
        border-left-width: var(--border-size-$(size));
      }
    }
  }
}
