@import '../../variables/breakpoints.css';

@each $break in (sm, md, lg) {
  @media (--$(break)) {

    /**
    * Breakpoints for display
    */
    /* prettier-ignore */
    @each $display in (inline, block, contents, flex, grid, inline-block, inline-flex, inline-grid, inline-table, none, initial, inherit) {
      .d-$(break)-$(display) {
        display: $(display);
      }
    }

    /**
    * Breakpoints for overflow
    */
    @each $overflow in (visible, hidden, scroll, auto, inherit, initial, unset) {
      .doa-$(overflow),
      dox-$(overflow) {
        overflow-x: $(overflow);
      }
      .doa-$(overflow),
      doy-$(overflow) {
        overflow-y: $(overflow);
      }
    }

  }
}
