@import '../variables/colors.css';

/**
 * Colors
 */
@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  .fg-$(color),
  .tc-$(color) {
    color: var(--color-$(color));
  }
  .bg-$(color),
  .tc-$(color) {
    background-color: var(--color-$(color)-contrast);
  }
}

@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  @each $psuedo in (hover, active, focus, required, valid, invalid, read-only) {
    .fg-$(color)-$(psuedo):$(psuedo),
    .tc-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color));
    }
    .bg-$(color)-$(psuedo):$(psuedo),
    .tc-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color)-contrast);
    }
  }
}

/**
 * Reverse Colors
 */
@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  .fgr-$(color),
  .tcr-$(color) {
    color: var(--color-$(color)-contrast);
  }
  .bgr-$(color),
  .tcr-$(color) {
    background-color: var(--color-$(color));
  }
}

@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  @each $psuedo in (hover, active, focus, required, valid, invalid, read-only) {
    .fgr-$(color)-$(psuedo):$(psuedo),
    .tcr-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color)-contrast);
    }
    .bgr-$(color)-$(psuedo):$(psuedo),
    .tcr-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color));
    }
  }
}
