@import '../variables/colors.css';

/**
 * Colors
 */
@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  .cf-$(color),
  .ct-$(color) {
    color: var(--color-$(color));
  }
  .cb-$(color),
  .ct-$(color) {
    background-color: var(--color-$(color)-contrast);
  }
}

@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  @each $psuedo in (hover, active, focus, required, valid, invalid, read-only) {
    .cf-$(color)-$(psuedo):$(psuedo),
    .ct-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color));
    }
    .cb-$(color)-$(psuedo):$(psuedo),
    .ct-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color)-contrast);
    }
  }
}

/**
 * Reverse Colors
 */
@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  .cfr-$(color),
  .ctr-$(color) {
    color: var(--color-$(color)-contrast);
  }
  .cbr-$(color),
  .ctr-$(color) {
    background-color: var(--color-$(color));
  }
}

@each $color in (base, light, dark, link, primary, secondary, accent, info, warning, error) {
  @each $psuedo in (hover, active, focus, required, valid, invalid, read-only) {
    .cfr-$(color)-$(psuedo):$(psuedo),
    .ctr-$(color)-$(psuedo):$(psuedo) {
      color: var(--color-$(color)-contrast);
    }
    .cbr-$(color)-$(psuedo):$(psuedo),
    .ctr-$(color)-$(psuedo):$(psuedo) {
      background-color: var(--color-$(color));
    }
  }
}
