@import '../variables/breakpoints.css';
@import '../variables/sizes.css';

:root {
  --padding-size-base: var(--fill-size);
  --padding-size-0: calc(var(--padding-size-base) * 0);
  --padding-size-1: calc(var(--padding-size-base) * 1);
  --padding-size-2: calc(var(--padding-size-base) * 2);
  --padding-size-3: calc(var(--padding-size-base) * 4);
  --padding-size-4: calc(var(--padding-size-base) * 8);
  --padding-size-5: calc(var(--padding-size-base) * 16);
  --padding-size-6: calc(var(--padding-size-base) * 32);
  --padding-size-7: calc(var(--padding-size-base) * 64);
}

@for $size from 0 to 7 {
  .pt-$(size),
  .py-$(size),
  .pa-$(size) {
    padding-top: var(--padding-size-$(size));
  }
  .pr-$(size),
  .px-$(size),
  .pa-$(size) {
    padding-right: var(--padding-size-$(size));
  }
  .pb-$(size),
  .py-$(size),
  .pa-$(size) {
    padding-bottom: var(--padding-size-$(size));
  }
  .pl-$(size),
  .px-$(size),
  .pa-$(size) {
    padding-left: var(--padding-size-$(size));
  }
}

@for $size from 0 to 7 {
  @each $break in (sm, md, lg) {
    @media (--$(break)) {
      .pt-$(break)-$(size),
      .py-$(break)-$(size),
      .pa-$(break)-$(size) {
        padding-top: var(--padding-size-$(size));
      }
      .pr-$(break)-$(size),
      .px-$(break)-$(size),
      .pa-$(break)-$(size) {
        padding-right: var(--padding-size-$(size));
      }
      .pb-$(break)-$(size),
      .py-$(break)-$(size),
      .pa-$(break)-$(size) {
        padding-bottom: var(--padding-size-$(size));
      }
      .pl-$(break)-$(size),
      .px-$(break)-$(size),
      .pa-$(break)-$(size) {
        padding-left: var(--padding-size-$(size));
      }
    }
  }
}
