@import '../variables/breakpoints.scss';

@import './margin-variables.scss';

@each $label, $value in $breakpoints {
  @media (min-width: #{$value}) {
    @each $index, $width in $margin-width-multipliers {
      /*! Margin Width Top with Y and All - Size #{$index} */
      .#{$margin-width-class-prefix}t-#{$label}-#{$index},
      .#{$margin-width-class-prefix}y-#{$label}-#{$index},
      .#{$margin-width-class-prefix}a-#{$label}-#{$index} {
        margin-top: var(--#{$margin-width-var-prefix}-#{$index});
      }
      /*! Margin Width Right with X and All - Size #{$index} */
      .#{$margin-width-class-prefix}r-#{$label}-#{$index},
      .#{$margin-width-class-prefix}x-#{$label}-#{$index},
      .#{$margin-width-class-prefix}a-#{$label}-#{$index} {
        margin-right: var(--#{$margin-width-var-prefix}-#{$index});
      }
      /*! Margin Width Bottom with Y and All - Size #{$index} */
      .#{$margin-width-class-prefix}b-#{$label}-#{$index},
      .#{$margin-width-class-prefix}y-#{$label}-#{$index},
      .#{$margin-width-class-prefix}a-#{$label}-#{$index} {
        margin-bottom: var(--#{$margin-width-var-prefix}-#{$index});
      }
      /*! Margin Width Left with X and All - Size #{$index} */
      .#{$margin-width-class-prefix}l-#{$label}-#{$index},
      .#{$margin-width-class-prefix}x-#{$label}-#{$index},
      .#{$margin-width-class-prefix}a-#{$label}-#{$index} {
        margin-left: var(--#{$margin-width-var-prefix}-#{$index});
      }
    }
  }
}
