@import '../../variables/breakpoints';

@import './width-sizes.css';

@each $break in (sm, md, lg) {
  @media (--$(break)) {
    /**
    * Percentage Widths
    */
    /* prettier-ignore */
    @each $size in (10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100) {
      .w-$(break)-$(size)p {
        width: $(size)%;
      }
      .wmin-$(break)-$(size)p {
        min-width: $(size)%;
      }
      .wmax-$(break)-$(size)p {
        max-width: $(size)%;
      }
    }

    /**
    * Line Length Widths
    */
    /* prettier-ignore */
    @for $size from 0 to 4 {
      .w-$(break)-$(size)ll {
        width: var(--width-line-length-$(size));
      }
      .wmin-$(break)-$(size)ll {
        min-width: var(--width-line-length-$(size));
      }
      .wmax-$(break)-$(size)ll {
        max-width: var(--width-line-length-$(size));
      }
    }
  }

  /**
  * Custom Widths
  */
  /* prettier-ignore */
  @for $size from 0 to 3 {
    .w-$(break)-$(size)c {
      width: var(--width-$(size));
    }
    .wmin-$(break)-$(size)c {
      min-width: var(--width-$(size));
    }
    .wmax-$(break)-$(size)c {
      max-width: var(--width-$(size));
    }
  }
}
