/**
* Border Width SCSS Variables
*/
$border-width-prefix: 'border-width' !default;
$border-width-multipliers: (
  '0': 0,
  '1': 1,
  '2': 2,
  '3': 4,
  '4': 8,
  '5': 16,
  '6': 32,
  '7': 64,
) !default;

/**
* Border Radius SCSS Variables
*/
$border-radius-prefix: 'border-radius' !default;
$border-radius-multipliers: (
  '0': 0,
  '1': 1,
  '2': 2,
  '3': 4,
) !default;

/**
 * Border Style SCSS Variables
 */
$border-styles: (
  'none': none,
  'dotted': dotted,
  'dashed': dashed,
  'solid': solid,
) !default;

/**
 * Border Style Psuedo SCSS Variables
 */
$border-psuedo-styles: (
  'hover': hover,
  'required': required,
  'invalid': invalid,
  'focus': focus,
  'disabled': disabled,
) !default;
