@import '../variables/sizes.css';

/* Font sizing */
body {
  font-size: var(--font-size);
}

/* Base sizing (small to medium) */
:root {
  --size: 16px;
}

/**
 * Useful linear functions
 * y = mx + b
 * m = (y2 - y1) / (x2 - x1)
 * y = ((y2 - y1) / (x2 - x1)) * 100vw + b
 *
 * For font size from 16px to 24px from 800px to 1200px width
 *
 * m = (24px - 16px) / (1200px - 800px)
 *   = 8px / 400px
 *   = 0.02px
 *
 * b = y - mx
 *
 * b = 16 - (0.02 * 800)
 *   = 16 - 16
 *   = 0!
 *
 * font-size = 0.02px * 100vw
 *           = 2vw!
 */

/* Fluid size from medium to large */
@media (min-width: 800px) and (max-width: 1200px) {
  :root {
    --size: calc(2vw);
  }
}

/* Size from large up */
@media (min-width: 1200px) {
  :root {
    --size: 24px;
  }
}
