@import '../variables/sizes.css';

/* Font sizing */
body {
  font-size: var(--font-size);
}

/**
 * Useful linear functions
 * y = mx + b
 * m = (y2 - y1) / (x2 - x1)
 * y = ((y2 - y1) / (x2 - x1)) * 100vw + b
 *
 * For font size from 16px to 24px from 800px to 1200px width
 *
 * m = (24px - 18px) / (1200px - 800px)
 *   = 6px / 400px
 *   = 0.015px
 *
 * b = y - mx
 *
 * b = 18 - (0.015 * 800)
 *   = 18 - 12
 *   = 4
 *
 * font-size = 0.015px * 100vw + 4px
 *           = 1.5vw + 4px!
 */

/* Size Calculations */
:root {
  --size: var(--size-minimum);

  /** Edit these values **/
  --size-minimum: 18px;
  --size-maximum: 24px;
  --width-minimum: 800; /* Actually px units but could be any */
  --width-maximum: 1200; /* Actually px units but could be any */

  /*
  --size-slope: calc((var(--size-maximum) - var(--size-minimum)) / (var(--width-maximum) - (var(--width-minimum))));
  --size-intercept: calc(var(--size-minimum) - (var(--size-slope) * var(--width-minimum)));
  --size-line: calc(var(--size-slope) * 100vw - var(--size-intercept));
  */
  --size-line: calc(4px + 1.5vw);
}

/* Fluid size from medium to large (Be sure to update from --width variables) */
@media (min-width: 800px) and (max-width: 1200px) {
  :root {
    --size: var(--size-line);
  }
}

/* Size from large up */
@media (min-width: 1200px) {
  :root {
    --size: var(--size-maximum);
  }
}
